<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.demo.auto.dao.UserDAO">
    <resultMap id="BaseResultMap" type="com.boot.demo.auto.entity.User">
        <id column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="TINYINT"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="has_son" property="hasSon" jdbcType="CHAR"/>
    </resultMap>
    <sql id="SELECT_All_Column">
        SELECT user_id, user_name, gender, remark, has_son
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.boot.demo.auto.entity.User">
        SELECT *
        FROM user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="com.boot.demo.auto.entity.User">
        DELETE FROM user
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.boot.demo.auto.entity.User">
        INSERT INTO user ( user_id, 
          user_name, gender, remark, 
          has_son )
        VALUES ( #{userId,jdbcType=VARCHAR}, 
          #{userName,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
          #{hasSon,jdbcType=CHAR} )
    </insert>
    <insert id="insertSelective" parameterType="com.boot.demo.auto.entity.User">
        INSERT INTO user
        <trim prefix="(" suffixOverrides="," suffix=")">
                user_id,
            <if test="userName != null">
                user_name,
            </if>
            <if test="gender != null">
                gender,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="hasSon != null">
                has_son,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
                #{userId,jdbcType=VARCHAR},
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                #{gender,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="hasSon != null">
                #{hasSon,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO user ( user_id, 
          user_name, gender, remark, 
          has_son )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.userId,jdbcType=VARCHAR}, 
            #{item.userName,jdbcType=VARCHAR}, #{item.gender,jdbcType=TINYINT}, #{item.remark,jdbcType=VARCHAR}, 
            #{item.hasSon,jdbcType=CHAR}
            )
        </foreach>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.boot.demo.auto.entity.User">
        UPDATE user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="gender != null">
                gender = #{gender,jdbcType=TINYINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="hasSon != null">
                has_son = #{hasSon,jdbcType=CHAR},
            </if>
        </set>
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.boot.demo.auto.entity.User">
        UPDATE user
        SET user_name = #{userName,jdbcType=VARCHAR},
            gender = #{gender,jdbcType=TINYINT},
            remark = #{remark,jdbcType=VARCHAR},
            has_son = #{hasSon,jdbcType=CHAR}
        WHERE user_id = #{userId,jdbcType=VARCHAR}
    </update>
</mapper>